// VARIABLES


/* $principal-1:#f7c341;  <---amarillo-bee */
/* $gris-1:#4c4b45;  <--gris-bee */
$negro-1:#16120c;


$principal-2:#4bbfb9;
$gris-2:#404443;
$negro-2:#0b1414;


$principal-3:#bc4b4b;
$gris-3:#444040;
$negro-3:#140b0b;


$negro-bee: #23211e;
$gris-bee: #4c4b45;
$amarillo-bee: #f7c341;
$crema-bee: #f4ecce;
$caterpillar-bee: #db9812;

/*Fuente*/

$tamañoFuenteBase:1rem;
